<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School Official Website</title>
    <link rel="stylesheet" href="static/vendor/bootstrap/css/bootstrap.min.css">
<style>
a{
	text-decoration: none;
}
#header {
   padding:8px;
   margin: 0px;
   width:100%;
   height:100px;
   background-color:#2F2F2F;
   font-size:1.8em;
   color:white;
}
</style>
</head>
<body>
<div id="header">
<p><img src="join-logo.png"/></p>
</div>
	<hr><hr>

<h1 align="center"> Welcome to School Official Website!!!
</h1>
<p align="center" style="font-size:1.5em;"><b>AMAZING SCHOOL LIFE</b></p>
<p align="center"><a href="/signup">Click Here for user sign up!</a></p>

</body>
</html>